body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  background-color: #FFFFFF;

}

html,
body {
  min-width: 1200px;
  min-height: 2762px;
}

img {
max-width: 100%;
height: auto;

}

.site-navigation {
 display: flex;
width: 100%;
padding: 0px;
}

.header-logo {
  width: 140px;
  height: 71px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;


}

.site-navigation li {
  min-width: 239px;

}

.site-navigation li:nth-child(3) {
  margin-left:  244px;

}

.nav-information {
  margin-left: 1px;
}

.nav-gallery {
  margin-right: 3px;
}

.nav-map {
  margin-right: 2px;
}

.nav-catalog {
  margin-left: 8px;
}

:focus {
outline: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-navigation {
  display: flex;
  width: 1200px;
  display:flex;
  margin: 0 auto;
  line-height: 1.86;
  font-weight: bold;
  padding: 0;

}

.container {
  width: 1200px;
  margin: 0 auto;


}


.welcome-container {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 724px;
  margin: 0 auto;
  background: url("../img/main-intro.jpg") no-repeat;

  padding-top: 76px;
}

.welcome-image {

    margin-bottom: 39px;


}
.polygon-image {

  width: 1200px;
  height: 59px;


}
.about {
  width: 489px;
  height: 110px;
  margin-top: 61px;
}
.features-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 1200px;




}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.features-list h2, .features-list p {
  margin: 0;
}
.features-list img {
display: block;

}
.feature-town h2, .feature-road h2, .feature-tourist h2
 {

margin-right: 75px;
margin-left: 75px;
}




.feature-town,
.feature-bridge, .feature-square, .feature-road, .feature-tourist
 {
  width: 400px;
  min-height: 256px;

}

.feature-town, .feature-bridge,
.feature-town p, .feature-bridge p {
background-color: #81b3d2;
color: #ffffff;
}

.feature-bridge, .feature-square, .feature-road,
.feature-tourist {
padding-top: 49px;
padding-left: 48px;
padding-right: 48px;
}

.features-list li {

box-sizing: border-box;
}

.feature-town {

padding: 46px 60px 42px;
}

.feature-motel {
  padding-left: 73px;
  padding-right: 73px;
}

.feature-food {
  padding-left: 55px;
  padding-right: 55px;
}

.feature-souvenir {
  padding-left: 63px;
  padding-right: 63px;
}

.feature-square {
  padding-left: 95px;
  padding-right: 95px;
}

.feature-road {
  padding-left: 65px;
  padding-right: 65px;
}

.feature-motel, .feature-food, .feature-souvenir {
position: relative;
min-height: 330px;
width: 400px;
}

.feature-motel h2, .feature-food h2, .feature-souvenir h2 {

margin-top: 158px;
}


.feature-motel h2::before {
  content: "";

  position: absolute;
  top: 60px;
  left: 162px;

  width: 75px;
  height: 72px;

  background-image: url("../img/icon-1.svg");

}

.feature-food h2::before {
  content: "";

  position: absolute;
  top: 60px;
  left: 163px;

  width: 74px;
  height: 70px;

  background-image: url("../img/icon-3.svg");

}

.feature-souvenir h2::before {
  content: "";

  position: absolute;
  top: 56px;
  right: 168px;

  width: 64px;
  height: 76px;

  background-image: url("../img/icon-2.svg");

}
.book-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
  height: 764px;
  background: url("../img/map.jpg") 0px 291px no-repeat;

}

.interest {
  margin-top: 57px;
  width: 435px;
  height: 96px;

}

.interest h3 {
margin-top: 0px;

}

.interest p {
margin: 0;


}
.modal-book {

  width: 568px;
  height: 395px;
  background-color: #ffffff
}

.main-footer {
width: 1200px;
min-height: 120px;
display: flex;
margin: 0 auto;

}

.hashtag-container {
  margin-top: 48px;
  margin-left: 132px;

  width: 136px;
  height: 16px;


}
.footer-social {
  margin-top: 36px;
  margin-left: 256px;

  width: 156px;
  height: 48px;


}

.footer-social li {
  position: relative;
}

.twitter::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 17px;
  height: 15px;

  background-image: url("../img/tw-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.facebook::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 12px;
  height: 22px;

  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.youtube::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 20px;
  height: 16px;

  background-image: url("../img/youtube-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.copyright-container {
  margin-top: 39px;
  margin-left: 228px;

  width: 197px;
  min-height: 41px;
}

.copyright-container p {
  margin: 0;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  padding: 0px;
  border-top: 1px solid white;

}
.catalog-item {
  display: flex;
  margin: 30px 72px;
  min-height: 150px;

}

.catalog-item-image {
  margin: 0;
  padding: 0;
  width: 135px;
}



.item-properties-container {
  margin-left: 30px;
  min-width: 258px;
  text-align: left;
}

.item-properties-container h2{
  margin: 0;
  margin-bottom: 7px;
}

.catalog-item-action {
  margin: 0;
  margin-top: 7px;
}


.features-list,
.site-navigation,
.catalog-list {
  list-style: none;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #766357;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}





h1 {

  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  margin: 0;
}

.about p {
margin: 0;
margin-top: 38px;
}

p {
  line-height: 1.86;
  color: #333333;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 18px;
}

h3 + p {
  line-height: 1.71;
}

.button {

  font: inherit;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
}
.modal-book-button {
  margin-top: 52px;
  width: 568px;
  height: 86px;
  background-color: #766357;
}
.modal-book-button:hover {
  background-color: #604e43;
}

.modal-book-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3)
}

label, input  {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.86;
  text-align: left;
  border: none;
}

input[type="text"] {
  width: 346px;
  height: 38px;
}
input[type="number"] {
  width: 38px;
  height: 38px;
}

input {
  background-color: #f2f2f2;
}

input:hover {
  background-color: #ebebeb;
}

input:focus {
  background-color: #ffffff;
}

.reduce, .add {
  width: 38px;
  height: 38px;
  color: #cacaca;
}
.reduce:hover, .add:hover {
  color: #000000;
}
.reduce:active, .add:active {
  color: #81b3d2;
}


input::-webkit-input-placeholder  {
color: #000000;
}

input::-moz-placeholder {
color: #000000;
}

.submit {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
}

.submit:hover {
  background-color: #669ec0;
}

.submit:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.footer-social {
  text-align: center;
}

 .footer-social ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
}

.footer-social li {
  box-sizing: border-box;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  margin-left: 6px;
}

.footer-social li:hover {
  background-color: #669ec0;

}

.footer-social li:active {
  background-color: #5496bd;

}

.academy-logo {
display: inline-block;
}

.academy-logo:hover path {
fill: #81b3d2;
}

.academy-logo:active path {
fill: #bdbbbc;
}


.footer-copyright b {
  display: inline-block;
  margin-top: 10px;
  line-height: 1.86;
  font-weight: normal;
  min-height: 11px;
  vertical-align: top;
}



.catalog-item-title {
  font-weight: bold;
  line-height: 1.24;
  text-align: left;
}

.catalog-item-title:hover {
  color: #81b3d2;
}

.catalog-item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-category, .catalog-item-price {
  color: #333333;
  line-height: 1.5;
  display: inline-block;
  width: 100px;
}

.catalog-item-price {

  margin-left: 10px;

}



.button-book, .button-info  {
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
}

.button-info {
  background-color: #81b3d2;
  display: inline-block;
  width: 110px;
  min-height: 27px;


}

.button-book {
  background-color: #81b3d2;
  display: inline-block;
  width: 142px;
  min-height: 27px;
}

.button-info:hover {
  background-color: #669ec0;
}

.button-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-book {
  background-color: #766357;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-item-rating {
  line-height: 1.5;
  color: #666666;
  margin-left: auto;
  margin-top: 99px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
