body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  background-color: #FFFFFF;

}
/* ----- Сеточные стили ----- */
html,
body {
  min-width: 1200px;
  min-height: 2762px;
}


}
.main-header {
 display: flex;

}
.header-logo {
  display: none;

}



:focus {
outline: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-navigation {
  display: flex;
  width: 1200px;
  display:flex;
  margin: 0 auto;
  line-height: 1.86;
  font-weight: bold;
  padding: 0;

}




.welcome-container {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin: 0 auto;


  padding-top: 76px;
}

.welcome-image {

    margin-bottom: 21px;


}
.polygon-image {

  width: 1200px;
  height: 59px;

  margin-bottom: 61px;
}
.about {
  width: 440px;
  height: 48px;

}
.features-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
  height: 1098px;

}

.book-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
  height: 764px;


}

.interest {
  margin-top: 57px;
  width: 434px;
  height: 96px;

}

.modal-book {
  margin-top: 52px;

}

.main-footer {
width: 1200px;
display: flex;
margin: 0 auto;

}

.hashtag-container {
  margin-top: 51px;
  margin-left: 132px;

  width: 136px;
  height: 16px;


}
.footer-social {
  margin-top: 36px;
  margin-left: 256px;

  width: 150px;
  height: 48px;


}

.copyright-container {
  margin-top: 39px;
  margin-left: 228px;

  width: 197px;
  height: 41px;


}

.features-list,
.site-navigation,
.catalog-list {
  list-style: none;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #766357;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.welcome {
position: absolute;
top: 350px;
left: 35%;



}

h1 {

  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
}

p {
  line-height: 1.86;
  color: #333333;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  color: #000000;
}

h3 + p {
  line-height: 1.71;
}

.button {

  font: inherit;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
}
.modal-book-button {
  width: 568px;
  height: 86px;
  background-color: #766357;
}
.modal-book-button:hover {
  background-color: #604e43;
}

.modal-book-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3)
}

label, input  {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.86;
  text-align: left;
  border: none;
}

input[type="text"] {
  width: 346px;
  height: 38px;
}
input[type="number"] {
  width: 38px;
  height: 38px;
}

input {
  background-color: #f2f2f2;
}

input:hover {
  background-color: #ebebeb;
}

input:focus {
  background-color: #ffffff;
}

.reduce, .add {
  width: 38px;
  height: 38px;
  color: #cacaca;
}
.reduce:hover, .add:hover {
  color: #000000;
}
.reduce:active, .add:active {
  color: #81b3d2;
}


input::-webkit-input-placeholder  {
color: #000000;
}

input::-moz-placeholder {
color: #000000;
}

.submit {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
}

.submit:hover {
  background-color: #669ec0;
}

.submit:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
}

.footer-social li {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
}

.footer-social li:hover {
  background-color: #669ec0;

}

.footer-social li:active {
  background-color: #5496bd;

}

.footer-copyright b {
  line-height: 1.86;
  font-weight: normal;
}

.catalog-item-title {
  font-weight: bold;
  line-height: 1.24;
  text-align: left;
}

.catalog-item-title:hover {
  color: #81b3d2;
}

.catalog-item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-category, .catalog-item-price {
  color: #333333;
  line-height: 1.5;
}



.button-book, .button-info  {
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;
}

.button-info {
  background-color: #81b3d2;
}

.button-book {
  background-color: #81b3d2;

}

.button-info:hover {
  background-color: #669ec0;
}

.button-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-book {
  background-color: #766357;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-item-rating {
  line-height: 1.5;
  color: #666666;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
